<html>
<head>
	<script type="text/javascript" src="../vendors/underscore-1.4.2-min.js"></script>
	<script type="text/javascript" src="../vendors/backbone-0.9.2-min.js"></script>
	<script type="text/javascript" src="../vendors/jquery-1.8.2-min.js"></script>

	<script type="text/javascript" src="../vendors/oauth/chrome_ex_oauthsimple.js"></script>
	<script type="text/javascript" src="../vendors/oauth/chrome_ex_oauth.js"></script>
	<script type="text/javascript" src="../src/oauth.js"></script>

	<script src="../src/gtd.js"></script>
	<script src="../src/gtd/gmail.js"></script>
	<script src="../src/gtd/gmail/entry.js"></script>
	<script src="../src/gtd/gmail/newlist.js"></script>
	<script src="../src/gtd/controller.js"></script>
	<script src="../src/background.js"></script>
</head>
<body>
</body>
</html>

