.container {
	width: 300px;
	text-align: left;
}
[class*="span"].hide {
  display: none;
}

[class*="span"].pull-right {
  float: right;
}

.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}

.container:after {
  clear: both;
}

.row {
  margin-left: -20px;
  *zoom: 1;
  padding-bottom: 1px;
}

.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}

.row:after {
  clear: both;
}

[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}
  
.span4 {
  width: 300px;
}

.span3 {
  width: 220px;
}

.span2 {
  width: 140px;
}

.span1 {
  width: 60px;
}
 
input.span4,
textarea.span4 {
  width: 286px;
}

input.span3,
textarea.span3 {
  width: 206px;
}

input.span2,
textarea.span2 {
  width: 126px;
}

input.span1,
textarea.span1 {
  width: 40px;
}

.container input,
.container textarea,
.container select {
  height: 20px;
  padding: 1px 6px;
  font-size: 14px;
}
