.container {
	width: 300px;
	text-align: left;
}
[class*="span"].hide {
  display: none;
}

[class*="span"].pull-right {
  float: right;
}

.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}

.container:after {
  clear: both;
}

.row {
  margin-left: -20px;
  *zoom: 1;
  padding-bottom: 1px;
}

.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}

.row:after {
  clear: both;
}

[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}
  
.span4 {
  width: 240px;
}

.span3 {
  width: 135px;
}

.span2 {
  width: 96px;
}

.span1 {
  width: 40px;
}
 
input.span4,
select.span4,
textarea.span4 {
  width: 200px;
}

input.span3,
textarea.span3 {
  width: 135px;
}

input.span2,
textarea.span2 {
  width: 80px;
}

input.span1,
textarea.span1 {
  width: 40px;
}

.container input,
.container textarea,
.container select {
  height: 20px;
  padding: 1px 6px;
  font-size: 14px;
}

.datepicker {
	z-index: 10000001
}

.input-append  {
	display: inline-block;
	font-size: 0;
	white-space: nowrap;
	vertical-align: middle;
}

.input-append input {
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  vertical-align: top;
}

.input-append .clear{
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    position: relative;
    left: -15px;
    top: 3px;
    color: #B0B0B0;
    cursor: pointer;
    font:15px Helvetica, Arial, Sans-Serif;
}

.btn.btn-primary {
	margin-left: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: #f5f5f5;
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	color: #444;
	border: 1px solid #dcdcdc;
	border: 1px solid rgba(0,0,0,0.1);
	-webkit-border-radius: 2px;
	border-radius: 2px;
	cursor: default;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	height: 27px;
	line-height: 27px;
	min-width: 54px;
	outline: 0;
	padding: 0 8px;
	position: relative;
	display: inline-block;
}

/* Shortcut */
#gtd-shortcut {
	position: absolute;
	margin-bottom:0;
	bottom: 0;
	left: 10px;
	height: 32px;
	box-shadow: none;
	background-color: #DCDCDC;
	background-image: -webkit-linear-gradient(top,#DCDCDC,#f1f1f1);
	border: 1px solid rgba(0,0,0,0.1);
	z-index: auto;
	padding: 0;
	border-radius:2px;
	padding: 0px 3px 0px 3px;
	z-index: 10000;
}


#gtd-shortcut .gtd-section {
	height: 32px;
	display: inline-block;
	line-height: 32px;
	white-space: nowrap;
}
#gtd-shortcut .gtd-section.gtd-info {
	color: #919191;
	font-family: arial,sans-serif;
	font-size: 80%;
	/*width: 148px;*/
	width: 0px;
	opacity: 0;
	cursor: pointer;
}

#gtd-shortcut .gtd-section.gtd-info:hover {
	text-decoration: underline;
}

#gtd-shortcut .gtd-section.gtd-info .gtd-key {
	color: #6E6E6E;
	font-weight: bold;
}

#gtd-shortcut .gtd-section.gtd-icon {
	width: 32px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAADlQTFRF////AID/AKqqAJnMAKrVAJXKAJvIAJnMAJjOAJrLAJjMAJnNAJnMAJnNAJnMAJnMAJnMAJnMAJnMzzBpKQAAABJ0Uk5TAAIDBQYYHDI+YpWipbHb7vL+zfmWtAAAAElJREFUKM9jYBhkgJ2HBbs4vxAXDnE+NqqLM3JgF2fiFuTEag4zrxBEBsN8FogMFnvBMljdA5IRwOpOoAx29wNlsIsDZVjpH40AhuwELZe5GlsAAAAASUVORK5CYII=);
	background-repeat: no-repeat;
	background-position:center; 
	cursor: pointer;
}


