<html>
<head>
	<script type="text/javascript" src="../vendors/underscore-1.4.2-min.js"></script>
	<script type="text/javascript" src="../vendors/zepto-1.0rc1.min.js"></script>
	<script type="text/javascript" src="../vendors/backbone-0.9.2-min.js"></script>
	<script type="text/javascript" src="../vendors/dev-ydn.db-0.28.js"></script>
	<script type="text/javascript" src="../vendors/stemmer.js"></script>

	<script type="text/javascript" src="../vendors/borismus/oauth2/oauth2.js"></script>
	<script type="text/javascript" src="../src/oauth.js"></script>

	<script type="text/javascript" src="../src/simplelogger.js"></script>
	<script type="text/javascript" src="../src/notification.js"></script>
	<script type="text/javascript" src="../src/gtd.js"></script>

	<script type="text/javascript" src="../src/gtd/gmail/entry.js"></script>
	<script type="text/javascript" src="../src/gtd/gmail/newlist.js"></script>
	<script type="text/javascript" src="../src/gtd/gmail/imap.js"></script>

	<script type="text/javascript" src="../src/gtd/settings/settings.js"></script>

	<script type="text/javascript" src="../src/gtd/suggestion/suggestion.js"></script>
	<script type="text/javascript" src="../src/gtd/suggestion/suggestioncollection.js"></script>
	<script type="text/javascript" src="../src/gtd/suggestion/router.js"></script>
	
	<script type="text/javascript" src="../src/gtd/analysis/action.js"></script>
	<script type="text/javascript" src="../src/gtd/analysis/termextraction.js"></script>
	<script type="text/javascript" src="../src/gtd/analysis/strikeamatch.js"></script>
	<script type="text/javascript" src="../src/gtd/analysis/actioncollection.js"></script>
	<script type="text/javascript" src="../src/gtd/analysis/newemail.js"></script>

	<script type="text/javascript" src="../src/gtd/external/api.js"></script>
	<script type="text/javascript" src="../src/gtd/external/notifier.js"></script>

	<script type="text/javascript" src="../src/gtd/context.js"></script>
	<script type="text/javascript" src="../src/gtd/application.js"></script>
	<script type="text/javascript" src="../src/background.js"></script>
</head>
<body>
</body>
</html>

