<html>
<head>
	<title>GTD GMail Extension Settings</title>
	<link href="../css/holo.css" rel="stylesheet" type="text/css"/>
	<link href="../css/gtd/settings.css" rel="stylesheet" type="text/css"/>

	<script type="text/javascript" src="../vendors/underscore-1.4.2-min.js"></script>
	<script type="text/javascript" src="../vendors/zepto-1.0rc1.min.js"></script>
	<script type="text/javascript" src="../vendors/backbone-0.9.2.js"></script>
	<script type="text/javascript" src="../vendors/zvw-ydn.db-0.4.3.js"></script>

	<script type="text/javascript" src="../src/gtd.js"></script>
	<script type="text/javascript" src="../src/gtd/db.js"></script>
	<script type="text/javascript" src="../src/gtd/context.js"></script>

	<script type="text/javascript" src="../src/gtd/settings/settings.js"></script>
	<script type="text/javascript" src="../src/gtd/settings/actionsview.js"></script>
	<script type="text/javascript" src="../src/gtd/settings/patternsview.js"></script>
	<script type="text/javascript" src="../src/gtd/settings/settingsview.js"></script>
	
	<script type="text/javascript" src="../src/gtd/pattern/regex.js"></script>
	<script type="text/javascript" src="../src/gtd/pattern/pattern.js"></script>
	<script type="text/javascript" src="../src/gtd/pattern/patterncollection.js"></script>

	<script type="text/javascript" src="../src/gtd/analysis/action.js"></script>
	<script type="text/javascript" src="../src/gtd/analysis/actioncollection.js"></script>


	<script type="text/javascript" src="../src/settings.js"></script>
</head>
<body class="holo holo-light">
<div id="accent" class="holo-accent-blue">

	<div class="holo-action-bar">
		<h1>GTD Extension Settings</h1>
			<div class="holo-switch gtd-mode">
				<input type="checkbox" checked id="advancedMode"/><label class="holo-label" for="advancedMode"></label>
			</div>
	
	</div>
	
	<ul class="holo-list">
		<li>
			<div class="holo-switch">
				<input type="checkbox" checked id="enabled"/>
				<label class="holo-label" for="enabled">Enabled</label>
			</div>
			<div class="holo-switch">
				<input type="checkbox" checked id="autoActions"/>
				<label class="holo-label" for="autoActions">Auto actions</label>
			</div>
		</li>
	</ul>
	<h2 class="holo-divider">Previous decisions</h2>
	<ul id="actionsList" class="holo-list gtd-box">
		<li>Item 1</li>
		<li>Item 2</li>
		<li><a href="#">Link to nowhere</a></li>
		<li>Item 3</li>
		<li>Item 4</li>
	</ul>
	<h2 class="holo-divider">Patterns</h2>
	<ul id="patternsList" class="holo-list gtd-box">
		<li>Item 1</li>
		<li>Item 2</li>
		<li><a href="#">Link to nowhere</a></li>
		<li>Item 3</li>
		<li>Item 4</li>
	</ul>
	<div class="holo-buttons gtd-close">
		<button id="closeBtn" class="holo-button">Close</button>
	</div>
</div>

</body>
</html>
