
body {
	min-width: 600px;
	padding-bottom: 40px;
}

.holo-action-bar h1 {
	padding: 0 16px;
}

.holo-list li { line-height: 42px; }
.holo-label { height: 42px; }

.holo-switch label:before,
.holo-switch label:after {
	height: 21px;
	line-height: 21px;
	margin: 10px 0;
}

.holo-divider { 
	border-bottom: 2px solid; font-size: 16px; line-height: 32px; height: 34px; padding: 2px 2px 0 8px; text-transform:uppercase; margin: 0 16px; 
}

.holo-switch.gtd-mode label:before,
.holo-switch.gtd-mode label:after {
	margin: 10px 0;
	width: 80px;
	padding: 0;
	position: absolute;
	top: 0;
}
.holo-switch.gtd-mode label:before {
	right: 20px;
}
.holo-switch.gtd-mode label:after {
	right: 100px;
}

.holo-switch.gtd-mode label:after { 
	content:"BASIC";
	color: white;
}
.holo-switch.gtd-mode label:before { 
	content:"ADVANCED";
	color: #848484; 
	font-size: 10px;
}

.holo-switch.gtd-mode :checked + label:after { 
	content:"BASIC";
	color: #848484;
}
.holo-switch.gtd-mode :checked + label:before { 
	content:"ADVANCED"; 
	background:#DF7782;
	color: white;
	font-size: 10px;
}

.holo-switch.gtd-mode .holo-label {
	display: inline-block;
	height: 0;
	margin: 0;
	padding: 0;
}

.holo-list.gtd-box {
	border: 1px solid #BBB;
	margin: 10px 20px;
	height:120px;
	overflow: auto;
}
.holo-buttons.gtd-close {
	display:block;
}

.holo-buttons.gtd-close button {
	float:right;
}

.holo-buttons.gtd-close .holo-button {
	margin: 0;	
	padding: 8px 24px;
}

.holo-list li {
	position: relative;
}
.holo-list li div.item-data {
	display: inline-block;
	height: 40px;
	font-size: 10px;
}

.holo-list li a.act-btn {
	width: 40px;
	height: 40px;
	float:right;
	padding: 0;
	position: absolute;
	top: 1px;
}

.holo-list li a.act-btn.act-edit {
	right: 80px;
}

.holo-list li a.act-btn.act-delete {
	right: 40px;
}