
body {
	min-width: 600px;
	padding-bottom: 40px;
	padding-top: 0px;
}
.holo-action-bar {
	position: relative;
	top: 0;
}
.holo-action-bar h1 {
	padding: 0 16px;
}

.holo-list li { line-height: 42px; }
.holo-label { height: 42px; }

.holo-switch label:before,
.holo-switch label:after {
	height: 21px;
	line-height: 21px;
	margin: 10px 0;
}

.holo-divider { 
	border-bottom: 2px solid; 
	font-size: 16px; 
	line-height: 18px; 
	height: 20px; 
	padding: 2px 2px 0 8px; 
	text-transform:uppercase; 
	margin: 0 16px; 
}

.holo-switch.gtd-mode label:before,
.holo-switch.gtd-mode label:after {
	margin: 10px 0;
	width: 80px;
	padding: 0;
	position: absolute;
	top: 0;
}
.holo-switch.gtd-mode label:before {
	right: 20px;
}
.holo-switch.gtd-mode label:after {
	right: 100px;
}

.holo-switch.gtd-mode label:after { 
	content:"BASIC";
	color: white;
}
.holo-switch.gtd-mode label:before { 
	content:"ADVANCED";
	color: #848484; 
	font-size: 10px;
}

.holo-switch.gtd-mode :checked + label:after { 
	content:"BASIC";
	color: #848484;
}
.holo-switch.gtd-mode :checked + label:before { 
	content:"ADVANCED"; 
	background:#DF7782;
	color: white;
	font-size: 10px;
}

.holo-switch.gtd-mode .holo-label {
	display: inline-block;
	height: 0;
	margin: 0;
	padding: 0;
}

.holo-list.gtd-box {
	border: 1px solid #BBB;
	margin: 10px 20px;
	height:120px;
	overflow: auto;
}

.holo-list.gtd-box li { 
	line-height: normal; 
	border-bottom: 1px solid #BBB;
}

.holo-list.gtd-box li.noitems {
	line-height:48px;
}

.holo-buttons.gtd-close {
	display:block;
}

.holo-buttons.gtd-close button, .holo-buttons a {
	float:right;
}

.holo-buttons.gtd-close .holo-button {
	margin: 0;	
	padding: 8px 24px;
}

.holo-buttons a.add-link {
	width:32px;
	height: 32px;
	padding: 0px 8px;
	cursor: pointer;
}

.holo-list li {
	position: relative;
}
.holo-list li div.item-data {
	display: inline-block;
	min-height: 40px;
	font-size: 14px;
	color: #585858;
	font-weight: normal;
}

.holo-list li a.act-btn {
	width: 32px;
	height: 32px;
	float:right;
	padding: 0;
	position: absolute;
	top: 4px;
}

.holo-list li a.act-btn.act-edit {
	right: 80px;
}

.holo-list li a.act-btn.act-delete {
	right: 40px;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 32px;
  vertical-align: text-top;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.icon-edit {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAPxQTFRF////AAAAAAAAVVVVQEBAMzMzKysrJCQkQEBAOTk5Li4uKysrOzs7Nzc3MzMzLS0tNjY2MzMzLi4uNzc3Nzc3MzMzMjIyMDAwNjY2NDQ0MzMzNTU1MzMzMTExNTU1NDQ0MzMzNTU1MTExNTU1MzMzMjIyMjIyNDQ0NDQ0MzMzMjIyMjIyNDQ0MzMzMjIyNDQ0MjIyMjIyNDQ0MzMzNDQ0MzMzMjIyMjIyMzMzMzMzMzMzMzMzMjIyMjIyMzMzMzMzMzMzMzMzMzMzMjIyNDQ0MzMzMzMzMjIyNDQ0MzMzMjIyNDQ0MzMzMzMzNDQ0MzMzMzMzMzMzMjIyNDQ065YydAAAAFR0Uk5TAAECAwQFBgcICQsMDQ4PERMUFhccHiQlJicoKy0vMDEyNUNERkdISUpLTE1TVVdZW1xdX2JkZWZoaWpvcHV3eHx9fn+AgoOEhYaJiouMlJWWl5iZo4LhWQAAAPRJREFUOMvF01s7AlEUxvG1HUaaKZkwlJCcTyGkaBKiMLtp/t//u7hw4Wbvfeexbn/rfZ518S6Rv5rlktv3M1qLDj8A+Fix+lpHAwxmLb4aqXIMcGL22pBeqC6BkdFLgdQTXfPe4cHku2l2Pu/HiV/hOTD43Eyumb2VQ30jfZMfTcZbEiWx2tOeb/BTgDtvh0axJzaHC2m/BIHdyaKo68gD92He6bRM+eNffzLlCwOmLl9fUl7V4fKqv67lamr1CEgrsm1zuQXgrG7zYAJAM/eYt1T057xPz1IxNQJg2FiwLFSBtL1hL3mX8WHB8QTFzqaS/5xvykI9m+CD1lYAAAAASUVORK5CYII=);
}

.icon-delete {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAACFQTFRF////AAAAAAAALy8vMzMzMzMzMjIyMjIyNDQ0MjIyNDQ0XeyGqQAAAAt0Uk5TAAECGyhfYGFik5nyMw+/AAAAh0lEQVQoz2NgoBFgVoDQTAZQAc9GCC0xBapg1goBEM3YtRKihKlrVSGIFl+1AqpXYtVyoBLGqlVQrSBmIgODGFgYAsRXLRNgzIJohCjJWhUoChREuERs1dIokDaEkqhVq5YKIDtWdNWqQAZ8Ahha0A3FsBbdYRhOR/cchvcxAggjCDEDmeoAAGtWNSGMojagAAAAAElFTkSuQmCC);
}

.icon-add {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAgMAAAAOFJJnAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAAlQTFRF////MjIyNDQ0D9yeOQAAAAN0Uk5TAE2ZNnLedgAAACFJREFUGNNjYCAOMDpAGUwNtGFkrQKClcgM2tmF5B1CAAAtUBIh/cLEvAAAAABJRU5ErkJggg==);
}

.holo-list li a {
	margin: 0 -42px
}

.holo-list li > div {
	margin: 0 -8px;
}

.holo-list li div.item-data .pattern-content { 
	margin-top: 2px;
}

.holo-field .field-wrapper {
	padding: 0 1px;
	width: 300px;
	position: absolute;
	right: 24px;
	top: 3px;
}


.modal-overlay {
	position: absolute;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	z-index: 1000;
}


.holo-spinner select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   height: 34px;
   -webkit-appearance: none;
   border: 0;
   border-bottom: 1px solid #BBB;
   background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAMCAYAAAC0qUeeAAAASUlEQVR42mN49+6dLhacg4537979nwHKwaoAWSFM8X9iFMIU6xKjENkZBBXiVIxNIVbFuBRiKManEEUxIYVwxcQoBCsmViHJigF9C6T0CfWyfgAAAABJRU5ErkJggg==) no-repeat right bottom transparent;
   border-radius:0;
   margin-left: -5px
}

.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.alert-error {
	color: #B94A48;
	background-color: #F2DEDE;
	border-color: #EED3D7;
}
